:root{
    --purple:#363062;
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--purple);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}

header .logo span{
    color: hotpink;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #eee;
}

header .navbar a:hover{
    color: #fff;
}

header .loginbtn{
    display: inline-block;
    margin-top: 1;
    border-radius: 5rem;
    background-color: #fff;
    color: var(--purple);
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

header .loginbtn:hover{
    background:blueviolet;
}

.profilepic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.submenu-wrap.open-menu{
    max-height: 400px;
}

.submenu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.userinfo {
    display: flex;
    align-items: center;
}

.userinfo h3{
    font-weight: 500;
}

.userinfo img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.submenu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link p:hover p{
    font-weight: 600;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/yash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.home .content{
    align-items: center;
    text-align: center;
    z-index: 1;
}

.home h3{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--purple);
    padding: 1rem;
    margin: 2rem 0;
    background: var(--purple);
}

.heading span{
    color: #fff;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .pic-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .pic-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1;
    border-radius: 5rem;
    background-color: var(--purple);
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
    background:blueviolet;
}

.review .box-conta{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-conta .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-conta .box .fa-quote-right{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-conta .box .stars{
    color: gold;
    font-size: 2rem;
}

.review .box-conta .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    height: 20rem;
}

.review .box-conta .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-conta .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-conta .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-conta .box .user span{
    font-size: 1.5rem;
    color: #999;
}

/*appointment*/
.heading1{
    text-align: center;
    color: var(--purple);
    padding-top: 10rem;
    padding-bottom: 5rem;
    margin: 2rem 0;
}

.heading1 span{
    color: #000;
    font-size: 4rem;
}

.heading1 p{
    color: #000;
    font-size: 1.5rem;
    padding: 1rem;
}

.btn{
    display: inline-block;
    margin-top: 1;
    border-radius: 5rem;
    background-color: var(--purple);
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
    background:blueviolet;
}

.choose .box-conta{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: center;
    align-items: center;
}

.choose .box-conta .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 5rem;
    padding: 3rem 1rem;
    background-color: #818FB4;
}

.choose .box-conta .box p{
    color: #fff;
    font-size: 1.8rem;
    line-height: 2;
    padding: 4rem;
    height: 20rem;
}

.choose .box-conta .box .user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.choose .box-conta .box .user span{
    font-size: 3rem;
    color: #fff;
}

/* Media Queries*/
@media(max-width: 991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    .home{
        background-position: center;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }
}
